// Specific CSS for your show-page

.carousel-item {
  height: 500px;
}


.exp-container {
  margin-top: 20px;
  border-bottom: 1px solid black;
}


.banner {
  background-size: cover;
  background-position: center;
  padding: 0px 0;
}

.banner img {
  width: auto;
  height: 200px;
  background-size: cover;
}
