.image-front {
  height: 500px;
  object-position: center;
  display: flex;
  flex-direction: column;
  background-size: cover;

  .image-front-text {
    color: white;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 250px;
    text-align: center;
  }
}

.cards-experiences {
  margin: 16px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  // flex-wrap: wrap;
  // justify-content: space-between;
}
.cards-marketing {
  margin: 16px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media(max-width: 992px) {
  .cards-experiences {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards-experiences {
    grid-template-columns: 1fr;
  }
}

.cards-experiences-title {
  font-size: 24px;
  margin-top: 16px;
}

.cards-experiences-line {
  width:70%;
  margin: 0;
}

.links-box {
  align-items: center;
  color: grey;
  display: flex;
  justify-content: space-between;
  padding: 0;

  .btn-ghost {
    color: #4A4A4A;
    border: 1px solid #4A4A4A;
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }

  .btn-ghost:hover {
    opacity: 1;
  }
}
