<div class="container">
  <div>experience image</div>
  <div class="experience-text">
    <div class="experience-description">
    </div>
    <div>
       insert booking form
    </div>
  </div>
  <div>
    a flex box
    <p>rating stars</p>
    <p>nb reviews</p>
  </div>
  <div>
    iterate on review cards
  </div>
</div>
