<div class="card-experience">
  <div class="card-experience-photo"></div>
  <div class="card-experience-description">
    <h3><%= experience.title %></h3>
    <p><%= experience.description%></p>
  </div>

</div>
