<div class="background-grey">
  <div class="container">
    <div class="cards-experiences">
      <div class="card-marketing">
        <i class="fa-solid fa-coins"></i>
        <h4>Get the best prices</h4>
        <p>Support local guides and book your tours at reasonable prices from a reliable source</p>
      </div>
      <div class="card-marketing">
        <i class="fa-solid fa-user-shield"></i>
        <h4>Safety Comes First</h4>
        <p>All guides completed a background check and are reviewed in-person</p>
      </div>
      <div class="card-marketing">
        <i class="fa-solid fa-medal"></i>
        <h4>Authentic Experience</h4>
        <p>All our guides are locals to the area in which they operate and know the best spots by heart! </p>
      </div>
    </div>
  </div>
</div>
