<div class="search-form">
  <div class="form-data form-location">
    <p>search destination</p>
    <i class="fa-solid fa-location-dot"></i>
  </div>
  <div class="form-data form-date">
    <i class="fa-solid fa-calendar-days"></i>
    <p>dates</p>
  </div>
  <i class="form-data form-submit fa-solid fa-magnifying-glass"></i>
  <% link_to "", "#"%>
</div>
