<div>
<p>Insert NavBar</p>
</div>

<div class="banner">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/dr-guide-logo.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/logo.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="exp-info">
  <div class="container row">
    <div class="col-md-8">
      <h5>Highlights</h5>
      <ul>
        <li>Text example of Highlight: Travel back in time and experience the grandeur of the Athenian Golden Age </li>
        <li>Text example of Highlight: Opt for self-guided audio tours on a mobile app and deep-dive into Athens</li>
      </ul>
      <h5>Full Description</h5>
      <p>Text example of full description: Explore the ancient Acropolis at your own pace with skip-the-line e-tickets. Choose to upgrade your experience with optional combo tickets to the city's top archaeological attractions and museums, including Acropolis Museum, Ancient Agora, Kerameikos, Olympieion, Roman Forum, Hadrian's Library, Aristotle's Lyceum, and the National Archaeological Museum.</p>
      <h5>Meeting point </h5>
      <p>Text example of meeting point: We suggest you enter the Acropolis via the South Entrance located near the Acropolis metro station.</p>
    </div>
    <div class="com-md-4">


    </div>
  </div>
</div>


<div class="review">
  <div class="container card-group cards-review">

  </div>
</div>


<% @reviews.each do |review| %>
  <p><%= review.user.first_name %></p>
  <p><%= review.comment %></p>
  <p><%= review.rating %></p>
<% end %>
