

.card-experience {
  position: relative;
  // width: 360px;
  height: 400px;
  justify-content: center;
  align-items: center;
  border-radius: $card-border-radius;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  &:hover {
    border: solid 1px lightgrey;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);
  }

  .card-experience-photo {
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center;
    border-top-right-radius: $card-border-radius;
    border-top-left-radius: $card-border-radius;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.card-experience-description {
  padding: 20px;
  width: 100%;
  font-size: 16px;

  h4 {
    font-size: 16px;
    font-weight: bold;
  }

  p {
    font-size: 12px;
  }
}
