.container {
  width: 85%;
  margin: 0 auto;
}

.sign-in-container {
  padding: 20px;
  width: 400px;
  // margin: 10% auto 0;
  margin: auto;
  border: solid 2px;
  border-color: grey;
  border-radius: $card-border-radius;
}

.sign-in-shared {
  padding: 10px;
  width: 350px;
  margin: auto;
  border: solid 2px;
  border-color: gray;
  border-radius: $card-border-radius;
}

.form-actions {
  text-align: center;
  // width: 100px;
  // border: solid 2px;
  // border-color: blue;
  // color: white;
  // background-color:deepskyblue;
  // border-radius: $card-border-radius;
}

@media(max-width: 992px) {
  .sign-in-container {
    margin: 0 auto 0;
  }
}
