.search-bar {
  padding-top: 30px;
  width: 40%;
  border-radius: 10px;
}

.search-bar:hover {
  width: 40.08%;
}

.form-control {
  border-radius: 15px 0px 0px 15px;
  font-size: 90%;
  padding-left: 25px;
}

.btn-primary {
  border-radius: 0px 15px 15px 0px
}
