.banner {
  width: 100%;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}

.image-experience {
  width: 1200px;
  height: 600px;
  background-size: cover;
  background-position: center;
  object-fit: fill;
}
